asgiref==3.7.2
cffi==1.15.1
crispy-bootstrap4==2022.1
cryptography==42.0.7
Django==3.2.25
django-crispy-forms==2.0
django-environ==0.11.2
pycparser==2.21
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.7.1