{% extends "base.html" %}
{% load static %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<style>
    .resim {
        display: block;
        margin: 0 auto; /* Resmi yatayda ortalar */
        max-width: 150px; /* Resmin maksimum genişliğini belirler */
        height: auto; /* Yükseklik otomatik olarak ayarlanır */
    }

    .custom-card {
      margin: 0 auto; /* Ortalamak için */
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
    }
    .scrollable-content {
      overflow-y: auto;
      max-height: 200px; /* İçeriğin uzunluğuna göre ayarlanabilir */
      font-size: 0.8em; /* Burada font boyutunu ayarlayabilirsiniz */

    }

    .custom-link {
      display: inline-block;
      padding: 10px 20px;
      font-size: 0.8em;
      color: #fff;
      background-color: #007bff;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
      
    }
    .custom-link:hover {
      background-color: #0056b3;
    }
    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3vh;
    }
  </style>

<br>
<div class="row">
    <div class="col-3">
        <div class="centered-img">
            <img class="resim" src="{% static 'media/pngegg.png' %}" alt="Resim Açıklaması">
        </div>
    </div>
    
    <div class="col-9">
        <h3>Hoş Geldiniz!</h3>
        <p  style="font-size: 0.9em;">Bu web sitesi, kriptografiye giriş konusunda bilgi alabileceğiniz bir platformdur. Dönem sonu projesi ile ilgili gerekli bilgilere aşağıdaki linkten ulaşabilirsiniz:</p>
        <a style="font-size: 0.9em;" href="https://toplanti.duzce.edu.tr/kriptografi" class="link" target="_blank" rel="noopener noreferrer">Dönem Sonu Projesi Bilgileri</a>
        <p style="font-size: 0.9em;">Proje sunum günü ve saatine dikkat ediniz. Başarılar!</p>
    </div>
</div>
<br>
<div class="link-container">
    <a href="https://d1527ff7-5d5e-42db-a5a7-da6135040fc8-00-bme5kjti92rt.pike.replit.dev/" class="custom-link btn-sm" target="_blank" rel="noopener noreferrer">
      Public Key ve Email Adresinizi lütfen buradan halka açık olarak kaydediniz.
    </a>
</div>  

<div class="container  mt-5">
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <div class="card custom-card">
          <div class="card-body">
            <h6 class="card-title">Public Key</h6>
            <div class="scrollable-content" id="publicKey">{{ request.user.public_key }}</div>
            <button class="btn btn-sm btn-primary mt-3" onclick="copyToClipboard('#publicKey')">Copy Public Key</button>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card custom-card">
          <div class="card-body">
            <h6 class="card-title">Private Key</h6>
            <div class="scrollable-content" id="privateKey">{{ request.user.private_key }}</div>
            <button class="btn btn-sm btn-primary mt-3 disabled" onclick="copyToClipboard('#privateKey')">Copy Private Key</button>
          </div>
        </div>
      </div>
    </div>
</div>



{% else %}
<style>
    .resim {
        display: block;
        margin: 0 auto; /* Resmi yatayda ortalar */
        max-width: 250px; /* Resmin maksimum genişliğini belirler */
        height: auto; /* Yükseklik otomatik olarak ayarlanır */
    }
    </style>
<br>
<div class="container">
    <div class="centered-img">
        <img class="resim" src="{% static 'media/pngegg.png' %}" alt="Resim Açıklaması">
    </div>
</div>
<br>

<div class="container">
    <h2>Hoş Geldiniz!</h2>
    <p>Bu web sitesi, kriptografiye giriş konusunda bilgi alabileceğiniz bir platformdur. Dönem sonu projesi ile ilgili gerekli bilgilere aşağıdaki linkten ulaşabilirsiniz:</p>
    <a href="https://toplanti.duzce.edu.tr/kriptografi" class="link" target="_blank" rel="noopener noreferrer">Dönem Sonu Projesi Bilgileri</a>
    <p>Proje sunum günü ve saatine dikkat ediniz. Başarılar!</p>
</div>
{% endif %}
<script>
    function copyToClipboard(element) {
      var temp = document.createElement('textarea');
      document.body.appendChild(temp);
      temp.value = document.querySelector(element).innerText;
      temp.select();
      document.execCommand('copy');
      document.body.removeChild(temp);
      //alert('Copied to clipboard!');
    }
  </script>
{% endblock %}

